* {
  box-sizing: border-box;
}

.stepContainer {
  position: relative;
}

.stepContainer.horizontal {
  display: flex;
}

.stepContainer.vertical > .step {
  margin-bottom: 24px;
}

.stepContainer.horizontal > .step {
  margin-right: 100px;
}

.line {
  background-color: blue;
  position: absolute;
}

.step {
  height: 125px;
  width: 125px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
