.stepContainer {
  position: relative;
}

.stepContainer > * {
  margin-bottom: 24px;
}

.line {
  background-color: blue;
  position: absolute;
}

.step {
  height: 125px;
  width: 125px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
